.App {
  text-align: center;
}
.main {
  margin: 20%;
  margin-top: 30px;
  max-width: 80%;
  text-align: left;
  font-size: larger;
}
img {
  max-width: 100%;
}

/* TOPBAR */
.topbar {
  background-color: #FFC200;
  color: white;
  font-weight: 800;
  width: 100%;
  height: 3.5rem;
  position: sticky;
  top: 0;
  z-index: 1;
  text-align: justify;

  display: grid;
  grid-template-columns: 30% auto 22%;
  grid-gap: 10px;
}
.topbar > div {
  padding: 20px 0;
  font-size: 18px;
}
.logo {
  float: left;
  display: grid;
  grid-template-columns: 40px 180px;
  margin-left: 10%;
  padding: 0;
}
.three-col {
  display: grid;
  grid-template-columns: auto auto auto;
}
.three-col > p {
  margin-top: 0;
  margin-bottom: 0;
}
.two-col {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
}

/* HOME */
.home {
  width: 45%;
  background-color: #FFC200;
  position: absolute; 
  height: 720px;
}
.textbox {
  background-color: #FBF8F4;
  border-radius: 20px;
  position: absolute; 
  width: 50%;
  height: 320px;
  top: 25%;
  left: 25%;
  box-shadow: 0px 10px rgb(235, 231, 197);
}
.text {
  text-align: left;
  margin-left: 40%;
  padding-right: 10%;
  font-size: larger;
  font-weight: 800;
  display: grid;
  grid-template-rows: 50px 80px 100px;
}
.hello {
  text-decoration: underline dotted;
  border-radius: 3px;
  grid-template-columns: auto;
  display: grid;
}
.flags {
  display: inline-flex;
  font-size: large;
  font-weight: 600;
  color: #4b4b4b;
  position: relative;
}

/* PROJECT */
.project {
  display: grid;
  grid-template-rows: auto;
  justify-content: space-around;
}
.project > div {
  justify-content: space-around;
  background-color: #FBF8F4;
  border-radius: 20px;
  margin: 30px; 
  padding: 20px;
  max-height: 80%;
  box-shadow: 0px 10px rgb(235, 231, 197);
}
.project > div:hover {
  background-color: #f8f1e9;
}


/* CASE */
.case {
  text-align: left;
  font-size: larger;
  display: grid;
}
.header {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color:#2B70C9;
  color: white;
  max-width: 100%;
  padding: 100px;
  grid-gap: 50px;
}
.more{
  display: grid;
  grid-template-columns: auto auto;
  text-align: left;
  grid-gap: 0 40px;
  /* margin: 50px; */
}
.persona {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.persona > div {
  background-color: #FBF8F4;
  border-radius: 20px;
  position: relative;
  width: 80%;
  margin: 30px 0 30px 0; 
  box-shadow: 0px 10px rgb(235, 231, 197);
  padding: 10px;
}
.phones {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  align-items: justify;
}
.phones > img {
  max-height: 620px;
  border-radius: 40px;
}

.btn {
  color: white;
  font-weight: 800;
  font-size: large;
  background-color: black;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  max-width: 250px;
  font-family: 'Nunito', -apple-system, BlinkMacSystemFont, 
    sans-serif;
}
.btn:hover{
  color: white;
}

.mid {
  text-align: center;
}



.about {
  background-color: #FFC200;
  height: 690px;
}
.about > div {
  text-align: left;
  padding: 20px;
  max-width: 50%;
  font-size: larger;
  font-weight: 800;
  background-color: #FBF8F4;
  border-radius: 20px;
  margin: 100px auto; 
  padding: 20px;
  box-shadow: 0px 10px rgb(235, 231, 197);
}
.about > div > p {
  font-weight: 600;
}